@import '../styles/Variables.scss';

.movieNotFound {
  text-align: center;
  font-family: $fontTitle; 
  font-size: 25px;
  margin: 40px;
}

.movies {
  list-style:none;
  border: solid 1px $colorLightKhaki;
  border-radius: 5px;
  margin: 50px;
}